.logo {
    font-family: 'Raleway';
    font-weight: 700;
    line-height: 1.2;
    font-size: 26px;
    text-decoration: none;
    color: $colorActive;

    &--black {
        color: $colorUp;
    }

    &--white {
        color: $fontColorWhite;
    }
}
