.products {
    padding-bottom: 0;

    &__list {
        display: flex;
        gap: 30px;
    }

    &__item {
        display: inline-block;
    }

    &__item-box {
        background: #f5f4fa;
        border-radius: 4px;
        margin-bottom: 30px;
    }

    &__item-icon {
        width: 270px;
        height: 120px;
        padding: 25px 100px;
    }

    &__item-title/* h2*/ {
        font-weight: 700;
        line-height: 2;
        font-size: 14px;
    }

    &__item-text {
        font-family: 'Roboto';
        font-size: 14px;
        line-height: 1.7;
    }
}
