$textColorBut: #212121;
$fontfamily: 'Roboto', 'sans-serif';
$backgroundColorWhite: #ffffff;
$colorActive: #2196f3;
$colorUp: #000000;
$fontColorWhite: #ffffff;
$backgroundTitle: #2f303a;
$backgroundColorBut: #f5f4fa;
$textColorGrey: #757575;
$backgroundBottom: #2f303a;
